<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<!--<connectionStrings>
    <add name="DBConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Taoufik\Desktop\mydb.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
 <connectionStrings>
    <add name="DBConnectionString"
connectionString="Server=tcp:gestionstock.database.windows.net,1433;Initial Catalog=database;Persist Security Info=False;User ID=admindb;Password=Gestion_Stock_db;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=360;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>